.bodyText {
  font-size: 16px;
  font-family: sans-serif;
}

.errorText {
  list-style-type: none;
  font-size: 16px;
  font-family: sans-serif;
  margin-left: 20px;
  color: red;
}

.pageHeader {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bold;
}

.secondaryHeader {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

.inputWidth {
  width: 45% !important;
}

th {
  border: none !important;
}

td {
  border: none !important;
  vertical-align: middle;
}

:host >>> .p-fileupload .p-fileupload-buttonbar {
  background: transparent;
  color: none;
  border: none;
  border-bottom: 0 none;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-align: center;
}

.p-button-danger {
  background: #be212e;
  color: #ffffff;
  border-color: #c01120;
}

:host >>> .p-fileupload .p-fileupload-content {
  background: transparent;
  display: none;
  padding: 0.571rem 1rem;
  border: none;
  color: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

:host >>> #fileUpload .p-button.p-fileupload-choose {
  overflow: hidden;
  position: relative;
  background: transparent;
  border: none;
  color: #007ad9;
}
