<app-header></app-header>

<section id="content" class="content">

  
 <h3 class="bodyText" style="text-align:center; font-family: sans-serif; color:#60CF16;" >
  <button 
  icon="pi pi-user-minus"
  pButton
  type="button"
  pRipple
  class="p-button-text"
  disabled="true"
></button>
You have successfully deactivated your account. 

 </h3>
<p style="text-align:center;font-family: sans-serif; " >
  If you need any assistance, please visit call us at 65-6112 3345 (24 hours hotline) or you can look up us at 10 Shenton Way, Singapore 079117
</p>
</section>




<footer>
<app-footer></app-footer>
</footer>