<app-header></app-header>
<br/>
<p-toast></p-toast>
<div style="z-index: -1" id="tag">
  <div style="width: 100%; height: 587px"></div>
</div>
<div *ngIf="!submitted">
  <form
    #enterPasswordForm="ngForm"
    (ngSubmit)="keyNewPassword(enterPasswordForm)"
    style="height: 10%; margin-top: -34%"
  >
    <h2 style="text-align: center" class="secondaryHeader">Reset Password</h2>

    <table style="margin: 0 auto" cellspacing="20px">
      <tr>
        <td><p class="bodyText">Company Email</p></td>
        <td>
          <input
            pInputText
            id="emailCompany"
            name="emailCompany"
            #emailCompany="ngModel"
            type="text"
            [(ngModel)]="email"
            required="true"
            class="bodyText, inputWidth"
          />
        </td>
      </tr>

      <tr>
        <td><p class="bodyText">Given OTP</p></td>
        <td>
          <input
            pInputText
            id="otpPin"
            name="otpPin"
            #otpPin="ngModel"
            type="text"
            [(ngModel)]="otp"
            required="true"
            class="bodyText, inputWidth"
          />
        </td>
      </tr>

      <tr>
        <td><p class="bodyText">New Password</p></td>
        <td>
          <p-password
            id="password"
            name="password"
            #password="ngModel"
            type="text"
            [(ngModel)]="newPassword"
            required="true"
            [toggleMask]="true"
            class="bodyText, inputWidth"
          ></p-password>
        </td>
      </tr>

      <tr>
        <td><p class="bodyText">Re-enter password</p></td>
        <td>
          <p-password
            id="password"
            name="password"
            #password="ngModel"
            type="text"
            [(ngModel)]="repeatNewPassword"
            required="true"
            [toggleMask]="true"
            class="bodyText, inputWidth"
          ></p-password>
        </td>
      </tr>
    </table>

    <div style="text-align: center">
      <input
        pButton
        class="p-button-raised p-button-info"
        pInputText
        type="submit"
        value="Reset Password"
      />
    </div>
  </form>
</div>

<div *ngIf="submitted" style="text-align: center">
  <p class="bodyText">You have successfully reset your password!</p>

  <button
    pButton
    label="Home Page"
    class="p-button-raised p-button-info"
    (click)="backToHome()"
  ></button>
</div>

<app-footer></app-footer>
