<app-header></app-header>
<br />

<div id="tag">
  <div>
    <br />

    <p
      class="bodyText"
      style="
        letter-spacing: 1px;
        width: 60%;
        line-height: 2.5;
        margin-left: auto;
        margin-right: auto;
        font-family: sans-serif;
        text-align: justify;
      "
    >
      Moolah aims to provide young adults a quick overview of the different
      financial products offered by financial institutions. Financial
      institutions can list their financial products to attract more youths.
      This is a good form of marketing for companies to increase their customer
      outreach. Moolah application provides useful features such us the click
      through rate for companies to understand the outreach of their product on
      our application.
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br/>
  </div>
</div>

<footer>
  <app-footer></app-footer>
</footer>
