<app-header></app-header> <br /><br />
<br /><br />
<img
  src="http://localhost:8080/MoolahEnterprise-war/resources/images/updated_createCompany.png"
  width="100%"
  height="700"
  style="z-index: -100"
/>

<div
  class="contentBody"
  style="
    margin-top: -33%;
    z-index: 1;
    color: white;
    text-shadow: 1px 1px 2px #000000;
  "
>
  <div *ngIf="!submitted">
    <h2 style="text-align: center" class="secondaryHeader">Forget Password</h2>

    <form #enterEmailForm="ngForm" (ngSubmit)="enterEmail(enterEmailForm)">
      <table style="margin: 0 auto" cellspacing="20px">
        <tr>
          <td><p class="bodyText">Company Email</p></td>
          <td>
            <input
              pInputText
              id="emailToReset"
              name="emailToReset"
              #emailToReset="ngModel"
              type="text"
              [(ngModel)]="email"
              required="true"
              class="bodyText, inputWidth"
            />
          </td>
        </tr>
      </table>

      <div style="text-align: center">
        <input
          pInputText
          pButton
          class="p-button-raised"
          type="submit"
          value="Get OTP"
        />
      </div>
    </form>
  </div>

  <div *ngIf="submitted" style="text-align: center">
    <p class="bodyText">You can now reset your password with the given OTP!</p>

    <button
      label="Enter New Password"
      class="p-button-raised"
      pButton
      (click)="keyNewPassword()"
    ></button>
  </div>
</div>
<p-toast></p-toast>
<app-footer></app-footer>
